.textbox
{   
    font-size:10pt;
    width: 700px;
}

td{
    font-size: 20px;
}

table{
    font-weight: bold;
    border-collapse: separate;
    border-spacing: 0 15px;
    background-color: #f2f2f2;
    padding: 20px; 
    border-radius: 25px;
    width: 100%;
    height: 150px;
}

label{
    font-size: 15px;
}

thead {
    font-size: 25px;
    border: 1px solid #333;
    color: rgb(12, 12, 12);
}

tfoot {
    position: absolute;
    right: 120px;
}

#but3{
font-weight: bold;
height: 60px;
position: absolute;
right: 1000px;
font-family: "Roboto", sans-serif;
background-color: #d3ecd3;
color: black;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
border-radius: 25px;
width: 300px;
}
    
#but4{
    font-weight: bold;
    height: 60px;
    position: relative;
     left: 450px; 
    font-family: "Roboto", sans-serif;
    width: 300px;
    background-color: #d3ecd3;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
    }
#but4:hover{
    background: rgb(62, 75, 62);
}    

#but3:hover{
    background: rgb(62, 75, 62);
}    

        
.test1{
    background-color: #78f05a;

}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=text]:focus {
    background-color: rgb(243, 246, 247);
  }
  
  h2,b{
    color:rgb(202, 196, 196);
    width: 1500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
#recap{
   border: 1px solid #ccc;
   border-collapse: separate;
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 1200px; 
    
}