.tab{
  background-color:rgb(3, 6, 8)
}
.tab-list {  
  border-bottom: 0px solid #1d1b1b;
  padding-right: 0;
  position: fixed; 
  top: 0; 
  width: 100%;
  left:0;
  font-size: 16.5px;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;

    font-weight: bold;
    padding-top: 13px;
    background: #464141;
    color: #fff;
    border-radius: 15px;
    z-index: 1000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
     margin-bottom: 15px; 
     width: 350px;
     height: auto;
     margin-top: -50px;
     padding: 10px;
  }
  
  .tab-list-active {
    border: solid rgb(77, 75, 75);
    border-width: 0px 0px 1px 0px;
    background: #fff;
    color: #000;
  }